* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

.shopping-item {
  margin-bottom: 1rem;
}

form {
  margin-bottom: 2rem;
}